<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Whiteboard: Professor</title>

  <link rel="stylesheet" href="stylesheets/style.css">

  <script src="javascripts/vendor/custom.modernizr.js"></script>
</head>
<body>

	<nav id="header">
		<section>
		  <ul class="nav-list">
	    	<a id="logo" href="#"><li><img src="images/header.png" alt="Whiteboard Learning"></li></a>
				<li id="sessionname"><h1><%= session.name %></h1></li>
				<li id="sessioncode">
					<% if(session.code) { %>
						Class Code: <span><%= session.code %></span>
					<% } %>
				</li>
			  <a id="exit" href="/logout"><li>Exit Session</li></a>
			</ul>
		</section>
	</nav>

	<section id="content">
		<section>
			<section class="quadrants">
				<section id="quadrant-clicker" class="quadrant"> <!-- href="/teacher_clicker" -->
					<div class="quadrant-contents">
						<h2>Clicker</h2>
						<p>Create another quiz or view quiz results.</p>
					</div>
				</section>
				<section id="quadrant-topics" class="quadrant"> <!-- href="/teacher_topics" -->
					<div class="quadrant-contents">
						<h2>Topics</h2>
						<p>View students' understanding of topics.</p>
					</div>
				</section>
				<section id="quadrant-questions" class="quadrant"> <!-- href="/teacher_questions" -->
					<div class="quadrant-contents">
						<h2>Questions</h2>
						<p>See student questions.</p>
					</div>
				</section>
				<section id="quadrant-blank" class="quadrant">
					<div class="quadrant-contents">
						<img src="images/icon.png" alt="Whiteboard Learning">
					</div>
				</section>
			</section>
		</section>
	</section>

	<footer id="footer">
		<section>
			&copy; 2014 Whiteboard Learning
		</section>
	</footer>

</body>
</html>
