<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Whiteboard: Student-Topics</title>

     <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/base.css">

  <script src="javascripts/vendor/custom.modernizr.js"></script>

</head>
<body>
  <!-- hidden text areas used for storing data... lol how do i middlewarez?? -->
  <input type="textarea" style="display:none;" id="classCode" value=<%= session.code %>>
	<nav class="top-bar">
	  <ul class="title-area">
	    <li class="name">
	    	<ul><a href="#"><img src="images/header.png" id="header"></a></div></ul>
	    </li>
        <li class="toggle-topbar menu-icon"><a href="/logout"><span>Menu</span></a></li>
	  </ul>

	    <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="right">
		    	<li class="divider"></li>
			    <li style="text-align:center"><a href="/logout" id ="exit">Exit Session</a></li>	
				<li class="divider"></li>  
		 	</ul>
	 	</section>
	</nav>

	<div class="row">
		<div class="large-4 columns leftrow">
                  <h3><%= session.name %></h3>
		  <% if(session.code){ %>
                  <p class="center">Class code: <i><%= session.code %></i></p><% } %>

			<hr />
			<div class="panel">
				<ul class="side-nav">
				  <h3><li><a href="/student_clicker">Clicker</a></li></h3>
				  <p>See the current quiz.</p>
				  <h3><li class="active">Topics</li></h3>
				  <p>Rate your understanding of the current class topics.</p>
				  <h3><li><a href="/student_questions">Questions</a></li></h3>
				  <p>Suggest a question to your teacher or upvote questions suggested by your peers.</p>
				</ul>
			</div>
		</div>
<div class="large-8 columns">
<div class="row">
				<div class="large-12 columns  rightrow">
						<hr />	
                            <h1>Topics</h1>
						<hr />
<!-- real-time updates of topics (new questions pop up) -->
<div id="content"></div>
<!-- here is an example layout -->
<!--
<h4>Prisoner's Dilemma</h4>	
<ul id="PrisDil" class="button-group round even-5">
 <li><a href="#" id="one" class="small alert button">1</a></li>
 <li><a href="#" id="two" class="small orange button">2</a></li>
 <li><a href="#" id="three" class="small yellow button">3</a></li>
 <li><a href="#" id="four" class="small lime button">4</a></li>
 <li><a href="#" id="five" class="small success button">5</a></li>
</ul>
-->
				</div>
</div>
	<hr />
	<!--Bottom Bar of information-->
	<div class="row">
		<div class="large-12 columns">
			<p style="text-align:center">2013 Whiteboard Learning &#153; &sdot; <a href="contact_us.html">Contact Us</a></p>
		</div>
	</div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="javascripts/student_topics.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
