<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app> <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Whiteboard: Student-Clicker</title>

  
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/page_styles.css">
    <script src="javascripts/studentQ.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/vendor/custom.modernizr.js"></script>

</head>
<body>
  <input type="textarea" style="display:none;" id="classCode" value=<%= session.code %>>
	<nav class="top-bar">
	  <ul class="title-area">
	    <li class="name">
	    	<ul><a href="#"><img src="images/header.png" id="header"></a></div></ul>
	    </li>
        <li class="toggle-topbar menu-icon"><a href="logout.html"><span>Menu</span></a></li>
	  </ul>

	    <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="right">
		    	<li class="divider"></li>
			    <li style="text-align:center"><a href="logout.html" id ="exit">Exit Session</a></li>	
				<li class="divider"></li>  
		 	</ul>
	 	</section>
	</nav>

	<div class="row">
		<div class="large-4 columns leftrow">
                 <h3><%= session.name %></h3>
		 <% if(session.code){ %>
                 <p class="center">Class code: <i><%= session.code %></i></p><% } %>
			<hr />
			<div class="panel">
				<ul class="side-nav">
				  <h3><li><a href="/student_clicker">Clicker</li></h3>
				  <p>See the current quiz.</p>
				  <h3><li><a href="/student_topics">Topics</a></li></h3>
				  <p>Rate your understanding of the current class topics.</p>
				  <h3><li class="active">Questions</li></h3>
				  <p>Suggest a question to your teacher or upvote questions suggested by your peers.</p>
				</ul>
			</div>
		</div>
<div class="large-8 columns">
<div class="row">
				<div class="large-12 columns  rightrow">
                    <hr>
                    <h1>Questions</h1>
                    
                <hr>
					<h4>Suggest a question.</h4>	<br />
							<form>	
<!-- begin submit a question -->
							    <div class="small-10 columns">
							        <input type="text" placeholder="Enter your question" id="questionField">
							    </div>
							    <div class="small-2 columns">
							        <button class="button prefix" id="askQuestion" onclick="return false;">Ask!</button>
							    </div>
<!-- end submit a question-->
							</form><hr />
						<h4>Vote on questions.</h4>	<br />	
<!-- socket/angular list and upvote questions begin here -->

<!--<div ng-controller="wbCtrl">
<input type="text" name=<%= session.code %> ng-model="code" style="display:none;"/>
<p ng-repeat="submission in submissions">
<a href="#" class="small success button choice">Upvote | {{submission.ups}}</a>{{submission.q}}
</p>-->
<div id="content"></div>
<!--		    <p><a href="#" class="small success button choice">Upvote</a> Is opportunity cost only measured in money?</p>
		    <p><a href="#" class="small success button choice">Upvote</a> Can you give more examples of prisoner's dilemma?</p>-->
</div>
<!-- end list and upvotes -->
				</div>
			</div>

	<hr />
	<!--Bottom Bar of information-->
	<div class="row">
		<div class="large-12 columns">
			<p style="text-align:center">2013 Whiteboard Learning &#153; &sdot; <a href="/contact_us">Contact Us</a></p>
		</div>
	</div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="javascripts/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
