<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Whiteboard</title>

  <link rel="stylesheet" href="stylesheets/base.css">

  <script src="javascripts/vendor/custom.modernizr.js"></script>

  <!-- Icons -->
  <link rel="icon" type="image/ico" href="img/favicon.ico">
	<!-- for iPad with high-resolution Retina display running iOS ≥ 7: -->
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/apple-touch-icon-152x152-precomposed.png">
	<!-- for iPad with high-resolution Retina display running iOS ≤ 6: -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png">
	<!-- for iPhone with high-resolution Retina display running iOS ≥ 7: -->
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/apple-touch-icon-120x120-precomposed.png">
	<!-- for iPhone with high-resolution Retina display running iOS ≤ 6: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png">
	<!-- for the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/apple-touch-icon-76x76-precomposed.png">
	<!-- for the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png">
	<!-- for non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png">

</head>

<body>

  <div id="floater"></div>
  <content id="container">
    <h1>A web platform for classroom communities.</h1>
    <p>Whiteboard is an interactive learning platform that revolutionizes the way educators and students connect in a classroom setting. Educators can quickly and easily receive live feedback from students, or create dynamic quizzes and polls with Whiteboard's clicker functionality. Whiteboard's interface was designed with desktop and mobile users in mind, and can be used from any device with a web browser and internet connection. We also did away with login pages and accounts all-together; both educators and students can create and join sessions with just a few clicks of the mouse or a few taps on the screen.</p>
    <div id="buttons">
      <a class="button" href="/">Try it out</a>
    </div>
  </content>

</body>

</html>
