/* logout.html */
/* .................................... */
#animation_container {
  height: 256px;
  width: 256px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 120%;
}

#animation_container {
  -webkit-animation-name: logout_ani;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 1s;
}

#animation_container {
  animation-name: logout_ani;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 5;
  animation-direction: normal;
  animation-delay: 1s;
}

#animation_container {
  -moz-animation-name: logout_ani;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease;
  -moz-animation-iteration-count: 5;
  -moz-animation-direction: normal;
  -moz-animation-delay: 1s;
}

#animation_container {
  -o-animation-name: logout_ani;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease;
  -o-animation-iteration-count: 5;
  -o-animation-direction: normal;
  -o-animation-delay: 1s;
}

@-webkit-keyframes logout_ani {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}

@keyframes logout_ani {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes logout_ani {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes logout_ani {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}

/* studentsession.html */
/* .................................... */
.top-bar {
  background-color: #333;
  margin-bottom: 0px;
}

.top-bar-section li a:not(.button) {
  background-color: #333;
}

.top-bar .name img {
  height: 28px;
}

.top-bar-section ul li > a {
  color: #ecf0f1;

}

#exit {
  background-color: #d14233;
}

.row h3 {
  margin-top: 26px;
  text-align: center;
}

.leftrow {
  background-color: #eee;
}

.rightrow {
  margin-left: 18px;
}

.choice {
  margin-right: 14px;
}

.filler_txt {
  margin-top: 12%;
}

.filler {
  display: block;
  margin: 0 auto 0 auto;
}
